# Mengabaikan file sistem MacOS
.DS_Store

# Mengabaikan editor config
.idea/
.vscode/
.nova/
.cursor/

# Mengabaikan file yang ditarik/di-build secara otomatis oleh docker/npm
src/vendor/
src/node_modules/
src/public/build/

# Mengabaikan environment rahasia
src/.env
src/.env.backup
.env
